header {

background-color: black;
}
header img {
      width: 400px;
}

main {
  
  background-color: red;
}
main img {
      width: 200px;
}
.universe{
      width: 500px;
}
footer {

background-color: black;
}
body {

background-color: red;
}
